.services {
    /* background: #1f2235; */
    padding: 100px 0;
    color: #fff;
    width: 100vw;
    
  }
  .row {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 calc(var(--ifm-spacing-horizontal) * -1);
}

.common {
    
    width: 33.33333333333333%;
    margin: 20px auto;
    text-align: center;
  }
  
.heading {
    margin-bottom: 20px;
    font-weight: 500;
    color: #ff4a57;
    font-size: 16px;
  }
.mainHeader {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
  }
.mainContent {
    font-size: 16px;
    color: #dfdfdf;
  }
.commonBorder {
    background: #ff4a57;
    height: 3px;
    width: 100px;
    margin: 30px auto;
  }
.services__header{
  text-align: left;
}
.services__box {
    padding: 40px;
    background: #23263a;
    color: #fff;
    margin: 20px;
    transition: all 0.5s linear;
  }
.services__box:hover {
    background: #ff4a57;
  }
.commonIcons {
    font-size: 40px;
    color: #ff4a57;
    margin-bottom: 15px;
  }
  .services__box:hover .commonIcons {
    color: #fff;
  }
  .services__box-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .services__box-p {
    font-size: 14px;
    color: #dfdfdf;
  }